body {
  font-family: sans-serif;
}
.bb-card {
  background-color: #08090a;
  height: 250px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  font-family: cursive;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.marg-t-70 {
  margin-top: 70px;
}
.marg-t-30 {
  margin-top: 30px;
  height: 72px;
}
a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 30px;
  border-radius: 5px;
  margin-top: 35px;
}
a:hover {
  text-decoration: none;
  color: red;
}
.title {
  font-family: cursive;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}
.center {
  display: flex;
  justify-content: center;
}
